<div class="login-container">

    <div class="login-card">

        <h1>Iniciar sesión</h1>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <input type="text" placeholder="Usuario" formControlName="username"
                [class.invalid]="form.get('username')?.invalid && form.get('username')?.touched">

            <input type="password" placeholder="Contraseña" formControlName="password">

            <button type="submit" [disabled]="loading">

                @if (loading) {
                Entrando...
                } @else {
                Entrar
                }

            </button>

            @if (errorMessage) {
            <p class="error">{{ errorMessage }}</p>
            }

        </form>

        <p class="register-link">
            ¿No tienes cuenta?
            <a routerLink="/register">Crear una cuenta</a>
        </p>

    </div>

</div>