<section class="products-page">

    <h1>Productos destacados</h1>

    @if (loading()) {
    <div class="loading">
        Cargando productos...
    </div>
    }

    @if (!loading()) {

    <div class="grid">

        @for (product of products(); track product.id) {

        <a class="card-link" [routerLink]="['/product', product.id]">

            <div class="card">

                <h3>{{ product.name }}</h3>

                <p>{{ product.description }}</p>

                <span class="price">{{ product.price }} €</span>

                <button type="button">Ver producto</button>

            </div>

        </a>

        }

    </div>

    }

</section>