<nav class="navbar">

    <div class="logo" routerLink="/home">
        <span class="brand">Ecommerce</span>
    </div>

    <div class="menu">

        <a routerLink="/home">Home</a>

        @if(!isAdmin()){
        <a routerLink="/products">Productos</a>
        }
        
        @if (!isAuthenticated()) {
        <a routerLink="/login">Login</a>
        }

        @if (isAuthenticated() && !isAdmin()) {
        <a routerLink="/profile">Mi perfil</a>
        }

        @if (isAdmin()) {
        <a routerLink="/admin/dashboard">Dashboard</a>
        <a routerLink="/admin/products">Gestionar productos</a>
        }

        @if (isAuthenticated()) {
        <a (click)="logout()">Logout</a>
        }

        @if (!isAdmin()) {
        <a routerLink="/cart" class="cart">
            🛒 {{ cartCount() }}
        </a>
        }

    </div>

</nav>